.main {
  top:0%;
  right:0%;
  position: fixed;
  align-items: center;
  background-color: var(--c1);
  background-image: url("/img/noisyBg.png");
  width: 100vw;
  height: 100vh;
  opacity: 1;
  transition: width 0s, height 0s, opacity 0.25s;
  transition-delay: 0.25s, 0.25s, 0s;
  transition: all 0.5s 1s;
  .objectsContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    height: 120px;
  .splashLogo{
    position: absolute;
    top: 0%;
    left: 50%;
    translate: -50% -50%;
    width: 180px;
    transition: all 1s;
  }
  .splashKo{
    position: absolute;
    top: 100%;
    left: 50%;
    translate: -50% -50%;
    transform-origin: top;
    width: 180px;
    transition: all 1s;
    opacity: 1;
  }
}
}
